# Ignore big raw and intermediate files
data/
qc/
results/star/
results/featurecounts/
ref/star_index/
ref/*.fa.gz
ref/*.gtf

# RStudio & system junk
.Rproj.user/
.Rhistory
.RData
.DS_Store

ref/*.gtf
